In [1]:
import pandas as pd

# **1. AHH**
## **1.1. MissVal Detec**

In [6]:
ahh = pd.read_csv('../data/drop-Data Faktor-Faktor IPM - AHH.csv')
ahh.drop('2016', axis=1, inplace=True)
ahh = ahh.replace(',', '.', regex=True)
ahh.head()

,id_ahh,id_kab_kota,NAMA_KAB_KOTA,PROVINSI,2010,2011,2012,2013,2014,2015,2017,2018,2019,2020,2021,2022,2023,2024
0,AHH001,1,Simeulue,Aceh,63.995,64.1,64.16,64.18,64.19,64.59,64.85,64.955,65.17,65.22,65.24,65.44,65.655,65.775
1,AHH002,2,Aceh Singkil,Aceh,66.655,66.71,66.795,66.855,66.885,66.97,67.055,67.15,67.31,67.35,67.355,67.55,67.83,67.935
2,AHH003,3,Aceh Selatan,Aceh,62.865,62.98,63.06,63.11,63.14,63.54,63.83,63.96,64.215,64.3,64.36,64.595,64.86,65.02
3,AHH004,4,Aceh Tenggara,Aceh,66.795,66.88,66.905,66.98,67.02,67.32,67.565,67.715,67.985,68.085,68.155,68.405,68.7,68.825
4,AHH005,5,Aceh Timur,Aceh,67.86,67.915,67.965,68,68.015,68.115,68.265,68.375,68.61,68.675,68.705,68.89,69.12,69.23

In [7]:
# Memeriksa setiap baris apakah ada '-' di kolom tahun (dari 2010 sampai 2024)
tahun_cols = [str(tahun) for tahun in range(2010, 2025) if tahun != 2016]
mask = ahh[tahun_cols].astype(str).apply(lambda x: '-' in x.values, axis=1)

# Ambil nama kabupaten/kota yang mengandung missing value (-)
kab_kota_ahh = ahh.loc[mask, 'NAMA_KAB_KOTA']
print("Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:\n", kab_kota_ahh.unique())
print("\nJumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024:", len(kab_kota_ahh.unique()))

Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:
 ['Nias Utara' 'Nias Barat' 'Kota Gunungsitoli' 'Kepulauan Meranti'
 'Penukal Abab Lematang Ilir' 'Musi Rawas Utara' 'Pringsewu' 'Mesuji'
 'Tulang Bawang Barat' 'Pesisir Barat' 'Pangandaran'
 'Kota Tangerang Selatan' 'Sabu Raijua' 'Malaka' 'Mahakam Ulu'
 'Banggai Laut' 'Morowali Utara' 'Kolaka Timur' 'Konawe Kepulauan'
 'Muna Barat' 'Buton Tengah' 'Buton Selatan' 'Mamuju Tengah'
 'Pulau Morotai' 'Pulau Taliabu' 'Sorong Selatan' 'Sorong' 'Raja Ampat'
 'Tambrauw' 'Maybrat' 'Manokwari Selatan' 'Pegunungan Arfak' 'Kota Sorong'
 'Merauke' 'Jayawijaya' 'Nabire' 'Paniai' 'Puncak Jaya' 'Mimika'
 'Boven Digoel' 'Mappi' 'Asmat' 'Yahukimo' 'Pegunungan Bintang' 'Tolikara'
 'Nduga' 'Lanny Jaya' 'Mamberamo Tengah' 'Yalimo' 'Puncak' 'Dogiyai'
 'Intan Jaya' 'Deiyai']

Jumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024: 53

## **1.2. Drop Miss and kab_kota prov col**

In [8]:
ahh_clean = ahh[~ahh['NAMA_KAB_KOTA'].isin(kab_kota_ahh)]
ahh_clean = ahh_clean.drop(columns=['NAMA_KAB_KOTA', 'PROVINSI'])
ahh_clean

,id_ahh,id_kab_kota,2010,2011,2012,2013,2014,2015,2017,2018,2019,2020,2021,2022,2023,2024
0,AHH001,1,63.995,64.1,64.16,64.18,64.19,64.59,64.85,64.955,65.17,65.22,65.24,65.44,65.655,65.775
1,AHH002,2,66.655,66.71,66.795,66.855,66.885,66.97,67.055,67.15,67.31,67.35,67.355,67.55,67.83,67.935
2,AHH003,3,62.865,62.98,63.06,63.11,63.14,63.54,63.83,63.96,64.215,64.3,64.36,64.595,64.86,65.02
3,AHH004,4,66.795,66.88,66.905,66.98,67.02,67.32,67.565,67.715,67.985,68.085,68.155,68.405,68.7,68.825
4,AHH005,5,67.86,67.915,67.965,68,68.015,68.115,68.265,68.375,68.61,68.675,68.705,68.89,69.12,69.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,AHH508,508,65.825,65.865,65.865,65.92,65.945,66.045,66.23,66.4,66.54,66.595,66.645,66.945,67.285,67.445
508,AHH509,509,65.42,65.585,65.635,65.655,65.665,65.695,65.765,65.935,66.18,66.305,66.41,66.67,66.97,67.125
509,AHH510,510,64.99,65.045,65.095,65.095,65.095,65.195,65.275,65.475,65.755,65.91,66.055,66.36,66.71,66.95
510,AHH511,511,55.7,56.015,56.32,56.32,56.32,56.52,56.855,57.13,57.505,57.75,57.99,58.32,58.59,58.725
519,AHH520,520,69.835,69.85,69.89,69.895,69.895,69.92,69.97,70.12,70.32,70.395,70.455,70.77,71.12,71.375

In [ ]:
ahh_clean.to_csv('../data/ahh_clean.csv', index=False)

# **2. IPM**
## **2.1. MissVal Detec**

In [9]:
ipm = pd.read_csv('../data/drop-Data Faktor-Faktor IPM - IPM.csv')
ipm = ipm.replace(',', '.', regex=True)
ipm.head()

,id_ipm,id_kab_kota,NAMA_KAB_KOTA,PROVINSI,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,IPM001,1,Simeulue,Aceh,60.6,61.03,61.25,61.68,62.18,63.16,63.82,64.41,64.74,65.7,66.03,66.41,67.27,68.06,69.01
1,IPM002,2,Aceh Singkil,Aceh,62.36,63.13,64.23,64.87,65.27,66.05,66.96,67.37,68.02,68.91,68.94,69.22,69.62,70.14,70.75
2,IPM003,3,Aceh Selatan,Aceh,61.22,61.52,61.69,62.27,62.35,63.28,64.13,65.03,65.92,66.9,67.12,67.44,67.87,68.44,69.1
3,IPM004,4,Aceh Tenggara,Aceh,63.82,64.27,64.99,65.55,65.9,66.77,67.48,68.09,68.67,69.36,69.37,69.44,70.32,71.05,71.7
4,IPM005,5,Aceh Timur,Aceh,61.75,62.35,62.93,63.27,63.57,64.55,65.42,66.32,66.82,67.39,67.63,67.83,68.72,69.32,69.87

In [10]:
# Memeriksa setiap baris apakah ada '-' di kolom tahun (dari 2010 sampai 2024)
tahun_cols = [str(tahun) for tahun in range(2010, 2025)]
mask = ipm[tahun_cols].astype(str).apply(lambda x: '-' in x.values, axis=1)

# Ambil nama kabupaten/kota yang mengandung missing value (-)
kab_kota_ipm = ipm.loc[mask, 'NAMA_KAB_KOTA']
print("Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:\n", kab_kota_ipm.unique())
print("\nJumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024:", len(kab_kota_ipm.unique()))

Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:
 ['Nias Utara' 'Nias Barat' 'Kota Gunungsitoli'
 'Penukal Abab Lematang Ilir' 'Musi Rawas Utara' 'Pringsewu' 'Mesuji'
 'Tulang Bawang Barat' 'Pesisir Barat' 'Pangandaran'
 'Kota Tangerang Selatan' 'Sabu Raijua' 'Malaka' 'Mahakam Ulu'
 'Banggai Laut' 'Morowali Utara' 'Kolaka Timur' 'Konawe Kepulauan'
 'Muna Barat' 'Buton Tengah' 'Buton Selatan' 'Mamuju Tengah'
 'Pulau Morotai' 'Pulau Taliabu' 'Sorong Selatan' 'Sorong' 'Raja Ampat'
 'Tambrauw' 'Maybrat' 'Manokwari Selatan' 'Pegunungan Arfak' 'Kota Sorong'
 'Merauke' 'Jayawijaya' 'Nabire' 'Paniai' 'Puncak Jaya' 'Mimika'
 'Boven Digoel' 'Mappi' 'Asmat' 'Yahukimo' 'Pegunungan Bintang' 'Tolikara'
 'Nduga' 'Lanny Jaya' 'Mamberamo Tengah' 'Yalimo' 'Puncak' 'Dogiyai'
 'Intan Jaya' 'Deiyai']

Jumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024: 52

## **2.2. Drop Miss and kab_kota prov col**

In [11]:
ipm_clean = ipm[~ipm['NAMA_KAB_KOTA'].isin(kab_kota_ahh)]
ipm_clean = ipm_clean
ipm_clean

,id_ipm,id_kab_kota,NAMA_KAB_KOTA,PROVINSI,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,IPM001,1,Simeulue,Aceh,60.6,61.03,61.25,61.68,62.18,63.16,63.82,64.41,64.74,65.7,66.03,66.41,67.27,68.06,69.01
1,IPM002,2,Aceh Singkil,Aceh,62.36,63.13,64.23,64.87,65.27,66.05,66.96,67.37,68.02,68.91,68.94,69.22,69.62,70.14,70.75
2,IPM003,3,Aceh Selatan,Aceh,61.22,61.52,61.69,62.27,62.35,63.28,64.13,65.03,65.92,66.9,67.12,67.44,67.87,68.44,69.1
3,IPM004,4,Aceh Tenggara,Aceh,63.82,64.27,64.99,65.55,65.9,66.77,67.48,68.09,68.67,69.36,69.37,69.44,70.32,71.05,71.7
4,IPM005,5,Aceh Timur,Aceh,61.75,62.35,62.93,63.27,63.57,64.55,65.42,66.32,66.82,67.39,67.63,67.83,68.72,69.32,69.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,IPM508,508,Keerom,Papua,60,60.65,61.13,62.49,62.73,63.43,64.1,64.99,65.75,66.59,66.4,66.49,67.24,68.08,68.68
508,IPM509,509,Waropen,Papua,59.98,60.94,61.32,61.68,61.97,62.35,63.1,64.08,64.8,65.34,64.94,65.1,65.67,66.46,66.92
509,IPM510,510,Supiori,Papua,57.71,58.31,58.86,59.4,59.7,60.09,60.59,61.23,61.84,62.3,62.3,62.72,63.65,64.61,65.15
510,IPM511,511,Mamberamo Raya,Papua,44.89,45.82,46.62,47.28,47.88,48.29,49,50.25,51.24,52.2,51.78,52.18,53.1,54.08,55
519,IPM520,520,Kota Jayapura,Papua,76.69,76.97,77.25,77.46,77.86,78.05,78.56,79.23,79.58,80.16,79.94,80.11,80.61,81.14,81.67

In [ ]:
ipm_clean.to_csv('../data/ipm_clean.csv', index=False)

# **3. AHS**
## **3.1. MissVal Detec**

In [12]:
ahs = pd.read_csv('../data/drop-Data Faktor-Faktor IPM - AHS.csv')
ahs = ahs.replace(',', '.', regex=True)
ahs = ahs.drop(columns=['Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36'])
ahs = ahs.dropna(subset=['id_ahs'])
ahs.head()

,id_ahs,id_kab_kota,NAMA_KAB_KOTA,PROVINSI,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,AHS001,1.0,Simeulue,Aceh,12.45,12.66,12.67,12.67,12.75,12.83,13.07,13.23,13.25,13.51,13.76,13.9,14.08,14.28,14.53
1,AHS002,2.0,Aceh Singkil,Aceh,12.41,12.84,13.49,13.85,14.05,14.26,14.27,14.28,14.29,14.3,14.31,14.32,14.34,14.35,14.36
2,AHS003,3.0,Aceh Selatan,Aceh,12.35,12.51,12.57,13.01,13.05,13.24,13.53,13.8,14.15,14.41,14.42,14.6,14.69,14.7,14.71
3,AHS004,4.0,Aceh Tenggara,Aceh,12.43,12.66,13.18,13.54,13.59,13.62,13.96,13.97,13.98,13.99,14,14.01,14.26,14.27,14.47
4,AHS005,5.0,Aceh Timur,Aceh,11.54,11.61,11.69,11.76,11.83,12.23,12.55,13,13.01,13.02,13.03,13.04,13.06,13.07,13.08

In [13]:
# Memeriksa setiap baris apakah ada '-' di kolom tahun (dari 2010 sampai 2024)
tahun_cols = [str(tahun) for tahun in range(2010, 2025)]
mask = ahs[tahun_cols].astype(str).apply(lambda x: '-' in x.values, axis=1)

# Ambil nama kabupaten/kota yang mengandung missing value (-)
kab_kota_ahs = ahs.loc[mask, 'NAMA_KAB_KOTA']
print("Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:\n", kab_kota_ahs.unique())
print("\nJumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024:", len(kab_kota_ahs.unique()))

Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:
 ['Nias Utara' 'Nias Barat' 'Kota Gunungsitoli'
 'Penukal Abab Lematang Ilir' 'Musi Rawas Utara' 'Pesisir Barat'
 'Pangandaran' 'Malaka' 'Mahakam Ulu' 'Banggai Laut' 'Morowali Utara'
 'Kolaka Timur' 'Konawe Kepulauan' 'Muna Barat' 'Buton Tengah'
 'Buton Selatan' 'Mamuju Tengah' 'Pulau Taliabu' 'Sorong Selatan' 'Sorong'
 'Raja Ampat' 'Tambrauw' 'Maybrat' 'Manokwari Selatan' 'Pegunungan Arfak'
 'Kota Sorong' 'Merauke' 'Jayawijaya' 'Nabire' 'Paniai' 'Puncak Jaya'
 'Mimika' 'Boven Digoel' 'Mappi' 'Asmat' 'Yahukimo' 'Pegunungan Bintang'
 'Tolikara' 'Nduga' 'Lanny Jaya' 'Mamberamo Tengah' 'Yalimo' 'Puncak'
 'Dogiyai' 'Intan Jaya' 'Deiyai']

Jumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024: 46

## **3.2. Drop Miss and kab_kota prov col**

In [14]:
ahs_clean = ahs[~ahs['NAMA_KAB_KOTA'].isin(kab_kota_ahh)]
ahs_clean

,id_ahs,id_kab_kota,NAMA_KAB_KOTA,PROVINSI,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,AHS001,1.0,Simeulue,Aceh,12.45,12.66,12.67,12.67,12.75,12.83,13.07,13.23,13.25,13.51,13.76,13.9,14.08,14.28,14.53
1,AHS002,2.0,Aceh Singkil,Aceh,12.41,12.84,13.49,13.85,14.05,14.26,14.27,14.28,14.29,14.3,14.31,14.32,14.34,14.35,14.36
2,AHS003,3.0,Aceh Selatan,Aceh,12.35,12.51,12.57,13.01,13.05,13.24,13.53,13.8,14.15,14.41,14.42,14.6,14.69,14.7,14.71
3,AHS004,4.0,Aceh Tenggara,Aceh,12.43,12.66,13.18,13.54,13.59,13.62,13.96,13.97,13.98,13.99,14,14.01,14.26,14.27,14.47
4,AHS005,5.0,Aceh Timur,Aceh,11.54,11.61,11.69,11.76,11.83,12.23,12.55,13,13.01,13.02,13.03,13.04,13.06,13.07,13.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,AHS508,508.0,Keerom,Papua,11.23,11.27,11.3,11.34,11.38,11.55,11.62,11.89,12.14,12.41,12.42,12.43,12.45,12.46,12.52
508,AHS509,509.0,Waropen,Papua,11.16,11.39,11.63,11.87,12.12,12.34,12.6,12.61,12.77,12.78,12.79,12.8,12.83,12.84,12.85
509,AHS510,510.0,Supiori,Papua,11.88,12.03,12.19,12.36,12.52,12.69,12.7,12.71,12.72,12.73,12.74,13,13.18,13.19,13.2
510,AHS511,511.0,Mamberamo Raya,Papua,09.04,9.4,9.78,10.18,10.59,10.65,10.8,11.07,11.3,11.78,11.79,11.8,11.82,11.83,12.04
519,AHS520,520.0,Kota Jayapura,Papua,13.64,13.77,13.91,13.95,14.06,14.16,14.61,14.98,14.99,15,15.01,15.02,15.04,15.26,15.27

In [ ]:
ahs_clean.to_csv('../data/ahs_clean.csv', index=False)

## **4. Rata-rata lama sekolah**

In [15]:
rls = pd.read_csv('../data/drop-Data Faktor-Faktor IPM - Rata-rata lama sekolah.csv')
rls = rls.replace(',', '.', regex=True)
rls = rls.drop(columns=['Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', '72,8', '73,4', '74,03'])
rls = rls.dropna(subset=['id_rls'])
rls.head()

,id_rls,id_kab_kota,NAMA_KAB_KOTA,PROVINSI,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,RLS001,1,Simeulue,Aceh,8.17,8.26,8.34,8.55,8.89,8.9,8.91,9.06,9.07,9.08,9.34,9.48,9.73,9.81,9.89
1,RLS002,2,Aceh Singkil,Aceh,6.65,6.86,7.16,7.33,7.48,7.5,7.69,7.84,8.05,8.52,8.53,8.68,8.69,8.7,8.72
2,RLS003,3,Aceh Selatan,Aceh,7.5,7.53,7.56,7.59,7.6,7.79,8.02,8.33,8.38,8.59,8.87,8.88,8.89,8.91,8.92
3,RLS004,4,Aceh Tenggara,Aceh,8.38,8.45,8.57,8.58,8.77,9.32,9.33,9.63,9.64,9.65,9.66,9.67,9.92,10.09,10.1
4,RLS005,5,Aceh Timur,Aceh,7.04,7.09,7.13,7.28,7.38,7.4,7.6,7.8,7.85,7.86,8.15,8.21,8.32,8.47,8.48

In [16]:
# Memeriksa setiap baris apakah ada '-' di kolom tahun (dari 2010 sampai 2024)
tahun_cols = [str(tahun) for tahun in range(2010, 2025)]
mask = rls[tahun_cols].astype(str).apply(lambda x: '-' in x.values, axis=1)

# Ambil nama kabupaten/kota yang mengandung missing value (-)
kab_kota_rls = rls.loc[mask, 'NAMA_KAB_KOTA']
print("Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:\n", kab_kota_rls.unique())
print("\nJumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024:", len(kab_kota_rls.unique()))

Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:
 ['Nias Utara' 'Nias Barat' 'Kota Gunungsitoli'
 'Penukal Abab Lematang Ilir' 'Musi Rawas Utara' 'Pringsewu' 'Mesuji'
 'Tulang Bawang Barat' 'Pesisir Barat' 'Pangandaran'
 'Kota Tangerang Selatan' 'Sabu Raijua' 'Malaka' 'Mahakam Ulu'
 'Banggai Laut' 'Morowali Utara' 'Kolaka Timur' 'Konawe Kepulauan'
 'Muna Barat' 'Buton Tengah' 'Buton Selatan' 'Mamuju Tengah'
 'Pulau Morotai' 'Pulau Taliabu' 'Sorong Selatan' 'Sorong' 'Raja Ampat'
 'Tambrauw' 'Maybrat' 'Manokwari Selatan' 'Pegunungan Arfak' 'Kota Sorong'
 'Merauke' 'Jayawijaya' 'Nabire' 'Paniai' 'Puncak Jaya' 'Mimika'
 'Boven Digoel' 'Mappi' 'Asmat' 'Yahukimo' 'Pegunungan Bintang' 'Tolikara'
 'Nduga' 'Lanny Jaya' 'Mamberamo Tengah' 'Yalimo' 'Puncak' 'Dogiyai'
 'Intan Jaya' 'Deiyai']

Jumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024: 52

## **4.2. Drop Miss and kab_kota prov col**

In [17]:
rls_clean = rls[~rls['NAMA_KAB_KOTA'].isin(kab_kota_ahh)]
rls_clean = rls_clean.drop(columns=['NAMA_KAB_KOTA', 'PROVINSI'])
rls_clean

,id_rls,id_kab_kota,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,RLS001,1,8.17,8.26,8.34,8.55,8.89,8.9,8.91,9.06,9.07,9.08,9.34,9.48,9.73,9.81,9.89
1,RLS002,2,6.65,6.86,7.16,7.33,7.48,7.5,7.69,7.84,8.05,8.52,8.53,8.68,8.69,8.7,8.72
2,RLS003,3,7.5,7.53,7.56,7.59,7.6,7.79,8.02,8.33,8.38,8.59,8.87,8.88,8.89,8.91,8.92
3,RLS004,4,8.38,8.45,8.57,8.58,8.77,9.32,9.33,9.63,9.64,9.65,9.66,9.67,9.92,10.09,10.1
4,RLS005,5,7.04,7.09,7.13,7.28,7.38,7.4,7.6,7.8,7.85,7.86,8.15,8.21,8.32,8.47,8.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,RLS508,508,4.88,5.23,5.52,6.45,6.57,6.85,7.24,7.57,7.83,8,8.01,8.02,8.31,8.57,8.58
508,RLS509,509,8,8.31,8.4,8.5,8.53,8.55,8.66,8.67,8.87,9.18,9.2,9.21,9.4,9.41,9.42
509,RLS510,510,7.26,7.52,7.78,8.06,8.11,8.12,8.13,8.14,8.39,8.6,8.81,8.87,9.09,9.2,9.21
510,RLS511,511,4.15,4.24,4.33,4.42,4.44,4.61,4.89,5.23,5.46,5.65,5.66,5.87,6.12,6.28,6.49
519,RLS520,520,10.62,10.71,10.8,10.88,11.09,11.11,11.14,11.15,11.3,11.55,11.56,11.57,11.74,11.84,12.07

In [ ]:
rls_clean.to_csv('../data/rls_clean.csv', index=False)

## **5. Pengeluaran riil perkapita**

In [18]:
pengeluaran = pd.read_csv('../data/drop-Data Faktor-Faktor IPM - pengeluaran riil perkapita.csv')
pengeluaran = pengeluaran.replace(',', '.', regex=True)
pengeluaran.head()

,id_prkapita,id_kab_kota,NAMA_KAB_KOTA,PROVINSI,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,PRKAPITA001,1,Simeulue,Aceh,5728,5781,5824,5920,5956,6328,6542,6677,6824,7210,7085,7148,7371,7686,8106
1,PRKAPITA002,2,Aceh Singkil,Aceh,7081,7123,7165,7208,7221,7602,8068,8230,8506,8715,8707,8776,8994,9374,9862
2,PRKAPITA003,3,Aceh Selatan,Aceh,6855,6890,6913,6989,7003,7224,7397,7567,7891,8187,8089,8180,8353,8712,9190
3,PRKAPITA004,4,Aceh Tenggara,Aceh,6663,6731,6788,6899,6949,7001,7212,7359,7685,8067,8020,8030,8222,8566,8876
4,PRKAPITA005,5,Aceh Timur,Aceh,6614,6897,7178,7219,7288,7623,7825,7961,8252,8600,8489,8577,9127,9436,9889

In [19]:
# Memeriksa setiap baris apakah ada '-' di kolom tahun (dari 2010 sampai 2024)
tahun_cols = [str(tahun) for tahun in range(2010, 2025)]
mask = pengeluaran[tahun_cols].astype(str).apply(lambda x: '-' in x.values, axis=1)

# Ambil nama kabupaten/kota yang mengandung missing value (-)
kab_kota_pengeluaran = pengeluaran.loc[mask, 'NAMA_KAB_KOTA']
print("Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:\n", kab_kota_pengeluaran.unique())
print("\nJumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024:", len(kab_kota_pengeluaran.unique()))

Kabupaten/Kota yang mengandung missing value (-) pada tahun 2010-2024:
 ['Nias Utara' 'Nias Barat' 'Kota Gunungsitoli'
 'Penukal Abab Lematang Ilir' 'Musi Rawas Utara' 'Pringsewu' 'Mesuji'
 'Tulang Bawang Barat' 'Pesisir Barat' 'Pangandaran'
 'Kota Tangerang Selatan' 'Sabu Raijua' 'Malaka' 'Mahakam Ulu'
 'Banggai Laut' 'Morowali Utara' 'Kolaka Timur' 'Konawe Kepulauan'
 'Muna Barat' 'Buton Tengah' 'Buton Selatan' 'Mamuju Tengah'
 'Pulau Morotai' 'Pulau Taliabu' 'Sorong Selatan' 'Sorong' 'Raja Ampat'
 'Tambrauw' 'Maybrat' 'Manokwari Selatan' 'Pegunungan Arfak' 'Kota Sorong'
 'Merauke' 'Jayawijaya' 'Nabire' 'Paniai' 'Puncak Jaya' 'Mimika'
 'Boven Digoel' 'Mappi' 'Asmat' 'Yahukimo' 'Pegunungan Bintang' 'Tolikara'
 'Nduga' 'Lanny Jaya' 'Mamberamo Tengah' 'Yalimo' 'Puncak' 'Dogiyai'
 'Intan Jaya' 'Deiyai']

Jumlah kabupaten/kota yang mengandung missing value (-) pada tahun 2010-2024: 52

## **5.2. Drop miss**

In [20]:
pengeluaran_clean = pengeluaran[~pengeluaran['NAMA_KAB_KOTA'].isin(kab_kota_ahh)]
pengeluaran_clean = pengeluaran_clean.drop(columns=['NAMA_KAB_KOTA', 'PROVINSI'])
pengeluaran_clean

,id_prkapita,id_kab_kota,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,PRKAPITA001,1,5728,5781,5824,5920,5956,6328,6542,6677,6824,7210,7085,7148,7371,7686,8106
1,PRKAPITA002,2,7081,7123,7165,7208,7221,7602,8068,8230,8506,8715,8707,8776,8994,9374,9862
2,PRKAPITA003,3,6855,6890,6913,6989,7003,7224,7397,7567,7891,8187,8089,8180,8353,8712,9190
3,PRKAPITA004,4,6663,6731,6788,6899,6949,7001,7212,7359,7685,8067,8020,8030,8222,8566,8876
4,PRKAPITA005,5,6614,6897,7178,7219,7288,7623,7825,7961,8252,8600,8489,8577,9127,9436,9889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,PRKAPITA508,508,8307,8397,8437,8475,8514,8609,8671,8824,8918,9136,8910,8926,9153,9545,9967
508,PRKAPITA509,509,5803,5961,5970,5979,5989,6070,6270,6810,6978,7018,6732,6788,6919,7335,7569
509,PRKAPITA510,510,4927,4985,5023,5060,5098,5180,5379,5655,5769,5820,5677,5708,5904,6259,6474
510,PRKAPITA511,511,4012,4125,4186,4241,4303,4324,4387,4596,4755,4807,4581,4603,4806,5105,5298
519,PRKAPITA520,520,13903,13960,14004,14088,14172,14249,14319,14781,14922,15176,14763,14937,15189,15272,15408

In [ ]:
pengeluaran_clean.to_csv('../data/pengeluaran_clean.csv', index=False)

# **6. Kab_Kota_Prov**

In [21]:
kab_kota_prov = pd.read_csv('../data/drop-Data Faktor-Faktor IPM - kab_kota_prov.csv')
kab_kota_prov_clean = kab_kota_prov[~kab_kota_prov['NAMA_KAB_KOTA'].isin(kab_kota_ahh)]
kab_kota_prov_clean

      ID   NAMA_KAB_KOTA PROVINSI
0      1        Simeulue     Aceh
1      2    Aceh Singkil     Aceh
2      3    Aceh Selatan     Aceh
3      4   Aceh Tenggara     Aceh
4      5      Aceh Timur     Aceh
..   ...             ...      ...
507  508          Keerom    Papua
508  509         Waropen    Papua
509  510         Supiori    Papua
510  511  Mamberamo Raya    Papua
519  520   Kota Jayapura    Papua

[461 rows x 3 columns]

In [ ]:
kab_kota_prov_clean.to_csv('../data/kab_kota_prov_clean.csv', index=False)